<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
    <link rel="icon" href="https://previews.123rf.com/images/arcady31/arcady311603/arcady31160300010/53258650-survey-icon.jpg" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #edf7ff;
            /* Light blue background color */
        }
        
        .container {
            text-align: center;
            margin-top: 100px;
        }
        
        h1 {
            color: #007bff;
        }
    </style>
</head>

<body>

    <div class="container">
        <h1>Thank You!</h1>
        <p>Your response has been submitted successfully, you can exit the window</p>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>